<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/index.css'>
    <script src='../script/index.js'></script>
    <style>
        * {
            /*para ocupa a tela inteira*/
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <p>7W-E LEILÃO</p>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="quemSomos.html">Quem somos</a></li>
            </ul>
        </nav>
        <div class="header-buttons" id="header-buttons">
            <input type="button" value="Login" />
            <a href="cadastro.html">
                <input type="button" value="Cadastra-se" onclick="cadastro()" />
            </a>
        </div>
    </header>

    <div class="grad">
        <div class="container1">
            <img src="img/image7.png" alt="celular">
        </div>
        <div class="container2">
            <img src="img/image5.png" alt="fone">
        </div>
        <div class="container3">
            <img src="img/image8.png" alt="laptop">
        </div>
        <div class="textoInicio">
            <h5>FAÇA <br> LEILÕES COM <br> A GENTE!</h5>
        </div>
    </div>

    <div class="tela2">
        <h5>SOBRE A 7W-E LEILÃO</h5>
        <div class="flex-box">
            <h6>A 7w-E Leilão é uma plataforma web que realiza leilões de eletrônicos de forma segura e prática.</h6>
        </div>

        <div class="leilao_img">
            <img src="img/leilao.png" alt="leilao">
        </div>
    </div>

    <footer>
        <p>@ 2024 7W-E Leilão, Inc. All rights reserved.</p>
    </footer>
</body>

</html>



















<!-- caminho do botao em html
        <div class="header-buttons">
            <a href="cadastro.html">
                <input type="button" value="Cadastra-se" onclick="cadastro()" />
            </a>
        </div> -->



<!-- <div id="container">
        <header>
            <div>A</div>
        </header>
        <main>
            <div>B</div>
        </main>
        <aside>
            <div>C</div>
        </aside>
        <footer>
            <div>D</div>
        </footer>
    </div> -->