<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Login</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/login.css'>
    <script src='../script/login.js'></script>
</head>

<body>
    <form>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">

        <label for="password">Senha:</label>
        <input type="password" name="password" id="password">

        <input type="button" value="Login" onclick="login()">
    </form>
</body>

</html>