<!DOCTYPE html>
<html lang="pt - br">

<head>
    <meta charset='utf-8'>
    <title>Home</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/quemSomos.css'>
    <script src='../script/quemSomos.js'></script>
    <style>
        * {
            /*para ocupa a tela inteira*/
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <header>
        <div class="logo">
            <p>7W-E LEILÃO</p>
        </div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="quemSomos.html">Quem somos</a></li>
            </ul>
        </nav>
        <div class="header-buttons" id="header-buttons">
            <input type="button" value="Login" />
            <a href="cadastro.html">
                <input type="button" value="Cadastra-se" onclick="cadastro()" />
            </a>
        </div>
    </header>


    <div class="text">
        <h2><strong>Quem Somos?</strong></h2>
        <p>Bem-vindo ao 7W-E LEILÕES, o seu destino ideal para leilões virtuais! Somos uma equipe apaixonada por
            conectar
            compradores e vendedores em um ambiente dinâmico e emocionante, <br>onde cada lance pode levar a
            oportunidades únicas.
            Nossa História.
        </p>
        <br><br><br><br>
        <h2><strong>Historia</strong></h2>
        <p>Nosso site nasceu da ideia de tornar o mundo dos leilões acessível a todos.
            Desde então, temos trabalhado <br>para criar uma plataforma intuitiva e segura, onde pessoas de todas
            as partes podem participar e encontrar<br> itens valiosos, raros e interessantes.
        </p>
        <br><br><br><br>
        <h2><strong>O que fazemos?</strong></h2>
        <p>Oferecemos uma ampla gama de produtos, desde itens de colecionador até objetos do dia a dia, todos
            disponíveis em nossos leilões online. <br>Nossa missão é proporcionar uma experiência de compra envolvente,
            onde
            a emoção do lance e a <br>descoberta de novas oportunidades se encontram.
        </p>
    </div>


    <div class="quemSomos_img">
        <img src="img/image2.png" alt="virtual">
    </div>

    <footer>
        <p>@ 2024 7W-E Leilão, Inc. All rights reserved.</p>
    </footer>

</body>

</html>