html,
body {
    height: 100%;
    /* Define a altura total da página */
    margin: 0;
    /* Remove a margem padrão */
    height: auto;
}

body {
    background-color: #094F67;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    /* Utiliza flexbox para organizar o layout */
    flex-direction: column;
    /* Organiza os elementos em coluna */

}

/* HEADER------------------------*/
header {
    background-color: #033d58;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 30px;
    /*altura e lados */
}

header .logo p {
    font-size: 24px;
    font-weight: 550;
    margin: 0;
}

nav ul {
    list-style-type: none;
    /*para nao aparecer uma lista*/
    margin: 0;
    padding: 0;
    display: flex;
    gap: 40px;
    /*espaçamento entre a Home e Quem Somos*/
}

nav ul li {
    display: inline;
    font-weight: 500;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.header-buttons input[type=button] {
    background-color: #FFCC00;
    border: 1px solid black;
    border-radius: 30px;
    padding: 12px 20px;
    cursor: pointer;
    margin-left: 10px;
}

/* ----------------------------*/

.text {
    margin-left: 750px;
    margin-top: 180px;
    color: rgb(233, 225, 225);
    padding: 20px;
    position: absolute;
    right: 20px;
}



.quemSomos_img img {
    margin-left: 40px;
    margin-top: 120px;
    height: 400px;
    position: absolute;
}



/* FOOTER-----------------------*/
footer {
    background-color: #033d58;
    color: white;
    padding: 50px;
    margin-top: 650px;

}